*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --primary-color:#000;
    --secondary-color:#808080;
    --background-color:#fff;
    --font-size:1em;
}