body {
  font-family: "Barlow", sans-serif;
}
#b1 {
  width: 78%;
  height: 3.5rem;
  display: flex;
  /* background-color: pink; */
  gap: 2.2rem;
  font-size: 0.86rem;
  align-items: center;
  margin: auto;
  margin-bottom: 0.5rem;
}

#b2 {
  width: 88%;
  margin: auto;
  margin-bottom: 4rem;
  position: relative;
}
#text {
  position: absolute;
  z-index: 1;
  left: 5rem;
  top: 4rem;
  width: 25rem;
  /* height: 5rem; */
  background-color: white;
  padding: 2rem;
}
#cat11 {
  position: absolute;
  width: 100%;
  height: 3rem;
  background-color: rgb(2, 2, 2);
  z-index: 1;
  display: none;
  color: white;

  /* display: block; */
}
#cat1 {
  position: relative;
}

#b3 {
  width: 85%;
  height: 5rem;
  background-color: aqua;
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bolder;
  font-family: "Barlow", sans-serif;
  color: white;
  background-color: black;
  margin-bottom: 3rem;
}

#b4 {
  width: 85%;
  height: 20rem;
  margin: auto;
  display: flex;
  gap: 1rem;
  line-height: 0.3rem;
}

a {
  text-decoration: none;
  color: black;
}

#box1 {
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#text1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#text2 {
  font-size: 1.2rem;
}

#b31 {
  font-weight: normal;
}
#b32 {
  background-color: white;
  border: 0.2rem solid white;
  height: 2.5rem;
  margin-left: 24rem;
  font-weight: bolder;
  font-size: 0.9rem;
}
#b33 {
  border: 0.1rem solid white;
  color: white;
  background-color: black;
  margin-left: 0.5rem;
  height: 2.5rem;
  width: 5rem;
  font-weight: bold;
}
#z1 {
  margin-bottom: 2.5rem;
  margin-left: 7rem;
  font-size: 2.5rem;
  font-weight: bold;
}
#z2 {
  margin-bottom: 2.5rem;
  margin-left: 7rem;
  font-size: 1.5rem;
  font-weight: bold;
}
#z3 {
  display: flex;
  margin-bottom: 1rem;
}
#z4 {
  background-color: #acd2cc;
  padding: 0.1rem;
  width: 2.2rem;
  margin-left: 7rem;
}
.x1 {
  width: 16rem;
  height: 100%;
}
.x2 {
  line-height: 1.5rem;
}
.x3 {
  text-decoration: line-through;
  font-weight: 100;
  color: rgb(104, 104, 104);
}
.x4 {
  background-color: #fcaea0;
  padding: 0.3rem;
  width: 6rem;
}
.x5 {
  background-color: #eceb98;
  padding: 0.3rem;
  width: 6rem;
}
img {
  width: 100%;
}
